<div class="relative w-full h-[500px] overflow-hidden">

  <!-- Background -->
  <img
    src="https://images.unsplash.com/photo-1511512578047-dfb367046420?q=80&w=2071&auto=format&fit=crop"
    class="absolute inset-0 w-full h-full object-cover z-0"
  >

  <!-- Overlay com gradiente neon -->
  <div class="absolute inset-0 bg-gradient-to-r from-pink-900/70 via-black/70 to-cyan-900/70 z-10"></div>

  <!-- Conteúdo -->
  <div class="font-orbitron relative z-20 flex flex-col justify-center h-full px-6 md:px-20">

    <h1 class="text-4xl md:text-6xl font-extrabold mb-4 leading-tight">
      <span class="text-white">BEM-VINDO AO NOSSO</span><br>
      <span class="text-pink-500 drop-shadow-[0_0_8px_rgba(236,72,153,0.8)]">UNIVERSO</span>
      <span class="text-cyan-400 drop-shadow-[0_0_8px_rgba(34,211,238,0.8)]"> DE JOGOS!</span>
    </h1>

    <p class="text-lg md:text-xl text-gray-300 max-w-xl mb-8">
      Explore um catálogo incrível, encontre seus próximos jogos favoritos e compartilhe suas aventuras.
    </p>

    <a
      [routerLink]="['/games']"
      class="max-w-xs w-fullinline-block bg-pink-500 text-white font-bold py-3 px-14 rounded-lg text-lg
             hover:scale-105 transition-all duration-300 shadow-lg shadow-pink-500/30"
    >
      Ver Todos os Jogos
    </a>

  </div>
</div>
